spring:
  datasource:
    url: jdbc:mysql://s4.java21.net:13306/project_be11_team2?serverTimezone=UTC&characterEncoding=UTF-8
    username: project_be11_team2
    password: F@R_UmfIzCl0uW)8
    type: org.apache.commons.dbcp2.BasicDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    dbcp2:
      initial-size: 5
      max-total: 50
  datasource-quartz:
    type: com.zaxxer.hikari.HikariDataSource
    driver-class-name: com.mysql.cj.jdbc.Driver
    jdbc-url: jdbc:mysql://s4.java21.net:13306/project_be11_team2_dev?serverTimezone=UTC&characterEncoding=UTF-8
    username: project_be11_team2_dev
    password: F@R_UmfIzCl0uW)8

  data:
    redis:
      host: ${REDIS_HOST:s4.java21.net}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:*N2vya7H@muDTwdNMR!}
      database: ${REDIS_DATABASE:321}

  jpa:
    hibernate:
      ddl-auto: validate

  quartz:
    job-store-type: jdbc
    jdbc:
      initialize-schema: never

    properties:
      org:
        quartz:
          scheduler:
            instanceName: ClusteredScheduler
            instanceId: AUTO
          threadPool:
            class: org.quartz.simpl.SimpleThreadPool
            threadCount: 4
          jobStore:
            class: org.springframework.scheduling.quartz.LocalDataSourceJobStore
            driverDelegateClass: org.quartz.impl.jdbcjobstore.StdJDBCDelegate
            tablePrefix: BACK_QRTZ_
            isClustered: true
            clusterCheckinInterval: 30000


jwt:
  public-key: MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAiNJoRcPJmLQ7Ii+hv78JNhtSgo7w7u8TS3PsftAMKBvkqpeAInmnpra1usEPhXTVWOyLLxL6yJAymKY8lzDf3I74T0F4GJiomkjjOdIT5TEAc5X3um+IuHxu7Qapr0BuKwBvT4FCBJ9jzPOCq8xkh2q/AWGfOTlPLjBmAVnp2NbbV4aI5cQR6D9a/extPX6hhAtq/NZqE665L/SVIXqPabu2Owpvn90O6HtNXzg6ytk7Rj4FBx6YLtqHy0QAf8/o/Zc1nr+ZHwSsDQ+am6Sp2ZmUl03ScerF7EMtfZyzUqY46RFNgUkhB7iJb2hZ3xYGtR9SUI+PDvt2Kz6AETewhQIDAQAB

logging:
  level:
    root: info